<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的账户</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!--<link rel="shortcut icon" href="/favicon.ico">-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="../css/frames/sm.min.css" rel="stylesheet" />
    <link href="../css/frames/sm-extend.min.css" rel="stylesheet" />
    <link href="../css/frames/common.css" rel="stylesheet" />
    <link href="../css/frames/icons.css" rel="stylesheet" />
    <link href="../css/views/account.css" rel="stylesheet" />
    <link href="../css/views/orders.css" rel="stylesheet" />
</head>
<body>
    <div class="page-group  WP-Account WP-AllOrder">
        <div class="page page-current" id="detail">
            <!--<header class="bar bar-nav">
                <h1 class="title">我的账户</h1>
            </header>-->
            <nav class="bar bar-tab">
                <a class="tab-item external" href="../index.html">
                    <span class="icon icon-home"></span>
                    <span class="tab-label">首页</span>
                </a>
                <a class="tab-item external" href="Ordermanagement.html">
                    <span class="icon icon-app"></span>
                    <span class="tab-label">推荐</span>
                </a>
                <a class="tab-item external" href="cart.html">
                    <span class="icon icon-cart"></span>
                    <span class="tab-label">购物车</span>
                </a>
                <a class="tab-item external active" href="account.html">
                    <span class="icon icon-me"></span>
                    <span class="tab-label">我的</span>
                </a>
            </nav>
            <div class="content">
                <div class="m_part">
                    <div class="u_account">
                        <div class="u_account-basic">
                            <div class="u_name">
                                <div class="u_name_per">我的雄威</div>
                                <div class="u_setting"><img src="../asset/icons/icon-settings.png" /></div>
                            </div>
                            
                            <div class="u_person"><input type="file" class="u_user-header" value=""/><img src="../asset/icons/icon-person.png" /></div>
                            <div class="u_text">砖石用户</div>
                            <div class="u_text">SuperMan</div>
                        </div>
                    </div>
                </div>

                <article class="quicklink">
                    <ul class="clearfix" id="linkJump">
                        <li><a href=""><i><img src="../asset/icons/icon-xianjin.png"></i><p>0.00</p><p>现金</p></a></li>
                        <li><a href=""><i><img src="../asset/icons/icon-youhui.png"></i><p>0.00</p><p>金券</p></a></li>
                        <li><a href=""><i><img src="../asset/icons/icon-jifen.png"></i><p>0.00</p><p>积分</p></a></li>
                        <li><a href=""><i><img src="../asset/icons/icon-zhifu.png"></i><p>0.00</p><p>支付宝</p></a></li>
                    </ul>
                </article>

                <div class="m_part m_part_h" id="js_orders">
                    <div class="u_order-more list-block">
                        <a href="javascript:0;" data-page="1">
                            <span><i class="m_icon icon-pay"></i></span>
                            <span>待付款</span>
                        </a>
                        <a href="javascript:0;" data-page="2">
                            <span><i class="m_icon icon-shipping"></i></span>
                            <span>待发货</span>
                        </a>
                        <a href="javascript:0;" data-page="3">
                            <span><i class="m_icon icon-receipt"></i></span>
                            <span>待收货</span>
                        </a>
                        <a href="javascript:0;" data-page="4">
                            <span><i class="m_icon icon-evalute"></i></span>
                            <span>待评价</span>
                        </a>
                        <a href="javascript:0;" data-page="5" class="s_shouh">
                            <span><i class="m_icon icon-customer"></i></span>
                            <span>售后</span>
                        </a>
                    </div>
                </div>
                <div class="m_part">
                    <div class="list-block">
                        <ul>
                            <li>
                                <a href="" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title">
                                            <i class="m_icon icon-order"></i>
                                            全部订单
                                        </div>
                                         
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title">
                                            <i class="m_icon icon-collection"></i>
                                            收藏夹
                                        </div>
                                         
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title">
                                            <i class="m_icon icon-shopping"></i>
                                            购物车
                                        </div>
                                         
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title">
                                            <i class="m_icon icon-note"></i>
                                            浏览记录
                                        </div>
                                         
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m_part">
                    <div class="list-block">
                        <ul>
                            <li>
                                <a href="" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title">
                                            <i class="m_icon icon-uerdata"></i>
                                            用户资料
                                        </div>
                                         
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title">
                                            <i class="m_icon icon-dress"></i>
                                            地址管理
                                        </div>
                                         
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="tel:021-09034234" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title">
                                            <i class="m_icon icon-repair"></i>
                                            维修网点
                                        </div>
                                         
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="tel:021-09034234" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title">
                                            <i class="m_icon icon-help"></i>
                                            帮助中心
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="tel:021-09034234" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title">
                                            <i class="m_icon icon-user-surdre"></i>
                                            用户反馈
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/frames/zepto.js"></script>
    <script src="../js/frames/sm.min.js"></script>
    <script src="../js/frames/sm-extend.min.js"></script>
    <script src="../js/components/title.js"></script>
    <script src="../js/components/card.js"></script>
    <script src="../js/components/tpl.js"></script>
    <script src="../js/components/pager.js"></script>
    <script src="../js/views/account.js"></script>
</body>
</html>