<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品详情</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!--<link rel="shortcut icon" href="/favicon.ico">-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="../css/frames/sm.min.css" rel="stylesheet" />
    <link href="../css/frames/sm-extend.min.css" rel="stylesheet" />
    <link href="../css/frames/common.css" rel="stylesheet" />
    <link href="../css/frames/icons.css" rel="stylesheet" />
    <link href="../css/views/order.css" rel="stylesheet" />
    <script src="../js/frames/zepto.js"></script>
    <script src="../js/frames/touch.js"></script>
    <script src="../js/frames/fx.animate.js"></script>
    
</head>
<body>
    <div id="WP-Order" class="wrapper WP-Order">
        <div class="page-group">
            <div class="page">
                <header class="bar bar-nav">
                    <button class="button button-link button-nav pull-left back">
                        <span class="icon icon-left"></span>
                        返回
                    </button>
                    <h1 class="title">购物车</h1>
                    <!--<button class="button button-nav pull-right">
                        全选
                    </button>-->
                </header>
                <nav class="bar bar-tab">
                    <div class="tab-item item-add-width">
                        <div class="m_item-checkbox">
                            <label>
                                <input type="checkbox" name="checkbox" id="allCheck">
                                <i class="m_icon icon_checkbox"></i>
                                <span class="u_title u_choose">全选</span>
                            </label>
                        </div>
                    </div>
                    <div class="tab-item item-add-width">
                        <div class="tab-label u_left">
                            <div class="u_amount">
                                <div class="u_total">
                                    <span class="u_title">总计：</span>
                                    <dfn>¥</dfn>
                                    <b id="tatolMoney">12934.34</b>
                                </div>
                                <div class="u_sales">
                                    <span class="u_title">已优惠：</span>
                                    <dfn>¥</dfn>
                                    <b>120.88</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-item u_right item-add-width">
                        <div class="u_submit cart-sub-finish">
                            <a href="#" class="tab-label m_color_white cart-finish">去结算</a>
                        </div>
                    </div>
                </nav>
                <div class="content list-content">
                    <div class="m_part">
                        <div class="list-block media-list">
                            <ul>
                                <li class="cart-list-content">
                                    <p class="cart-edit-con"><span class="cart-getcar">领券</span><span class="cart-play">编辑</span></p>
                                    <div class="item-checkbox item-link item-content">
                                        <label>
                                            <input type="checkbox" name="checkbox">
                                            <span class="item-media"><i class="icon icon-form-checkbox"></i></span>
                                        </label>
                                        <div class=""><img src="../asset/imgs/hj/hj_03.jpg" alt="" /></div>
                                        <div class="item-inner">
                                            <div class="item-text cart-text">地线夹/接地夹/搭铁夹 500A</div>
                                            <p class="cart-class">重量：4.72kg  颜色：12V锂电钻（双电池）</p>
                                            <div class="item-footer item-sm-footer">
                                                <div class="item_price">
                                                    <span class="price">
                                                        <dfn>¥</dfn>
                                                        <b class="singleMoney">45</b>
                                                    </span>
                                                    <span class="unit">个</span>
                                                </div>
                                                <div class="item_count">
                                                    <!--<i class="m_icon icon_add"></i>
                                                    <input type="text" value="5" id="input_count" class="input_count">
                                                    <i class="m_icon icon_subtraction"></i>-->
                                                    <span>x</span>
                                                    <span class="selectNum">1</span>
                                                </div>
                                            </div>
                                            <div class="delet-content">
                                                <div class="delet-inner">
                                                    <div class="delet-cart">
                                                        <div class="delet-text">删除</div>
                                                        <div class="delet-list"><p class="delet-reduce">-</p><p class="delet-input"><input type="text" value="1" /></p><p class="delet-add">+</p></div>
                                                        <p class="delet-class-text open-panel">颜色分类:黑色;鞋码:42-270mm现货<span class="icon icon-down pull-right"></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="cart-list-content">
                                    <p class="cart-edit-con"><span class="cart-getcar">领券</span><span class="cart-play">编辑</span></p>
                                    <div class="item-checkbox item-link item-content">
                                        <label>
                                            <input type="checkbox" name="checkbox">
                                            <span class="item-media"><i class="icon icon-form-checkbox"></i></span>
                                        </label>
                                        <div class=""><img src="../asset/imgs/hj/hj_03.jpg" alt="" /></div>
                                        <div class="item-inner">
                                            <div class="item-text cart-text">地线夹/接地夹/搭铁夹 500A</div>
                                            <p class="cart-class">重量：4.72kg  颜色：12V锂电钻（双电池）</p>
                                            <div class="item-footer item-sm-footer">
                                                <div class="item_price">
                                                    <span class="price">
                                                        <dfn>¥</dfn>
                                                        <b class="singleMoney">45</b>
                                                    </span>
                                                    <span class="unit">个</span>
                                                </div>
                                                <div class="item_count">
                                                    <!--<i class="m_icon icon_add"></i>
                                                    <input type="text" value="5" id="input_count" class="input_count">
                                                    <i class="m_icon icon_subtraction"></i>-->
                                                    <span>x</span>
                                                    <span class="selectNum">1</span>
                                                </div>
                                            </div>
                                            <div class="delet-content">
                                                <div class="delet-inner">
                                                    <div class="delet-cart">
                                                        <div class="delet-text">删除</div>
                                                        <div class="delet-list"><p class="delet-reduce">-</p><p class="delet-input"><input type="text" value="1"/></p><p class="delet-add">+</p></div>
                                                        <p class="delet-class-text open-panel">颜色分类:黑色;鞋码:42-270mm现货<span class="icon icon-down pull-right"></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="cart-list-content">
                                    <p class="cart-edit-con"><span class="cart-getcar">领券</span><span class="cart-play">编辑</span></p>
                                    <div class="item-checkbox item-link item-content">
                                        <label>
                                            <input type="checkbox" name="checkbox">
                                            <span class="item-media"><i class="icon icon-form-checkbox"></i></span>
                                        </label>
                                        <div class=""><img src="../asset/imgs/hj/hj_03.jpg" alt="" /></div>
                                        <div class="item-inner">
                                            <div class="item-text cart-text">地线夹/接地夹/搭铁夹 500A</div>
                                            <p class="cart-class">重量：4.72kg  颜色：12V锂电钻（双电池）</p>
                                            <div class="item-footer item-sm-footer">
                                                <div class="item_price">
                                                    <span class="price">
                                                        <dfn>¥</dfn>
                                                        <b class="singleMoney">45</b>
                                                    </span>
                                                    <span class="unit">个</span>
                                                </div>
                                                <div class="item_count">
                                                    <!--<i class="m_icon icon_add"></i>
                                                    <input type="text" value="5" id="input_count" class="input_count">
                                                    <i class="m_icon icon_subtraction"></i>-->
                                                    <span>x</span>
                                                    <span class="selectNum">1</span>
                                                </div>
                                            </div>
                                            <div class="delet-content">
                                                <div class="delet-inner">
                                                    <div class="delet-cart">
                                                        <div class="delet-text">删除</div>
                                                        <div class="delet-list"><p class="delet-reduce">-</p><p class="delet-input"><input type="text" value="1" /></p><p class="delet-add">+</p></div>
                                                        <p class="delet-class-text open-panel">颜色分类:黑色;鞋码:42-270mm现货<span class="icon icon-down pull-right"></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="cart-list-content">
                                    <p class="cart-edit-con"><span class="cart-getcar">领券</span><span class="cart-play">编辑</span></p>
                                    <div class="item-checkbox item-link item-content">
                                        <label>
                                            <input type="checkbox" name="checkbox">
                                            <span class="item-media"><i class="icon icon-form-checkbox"></i></span>
                                        </label>
                                        <div class=""><img src="../asset/imgs/hj/hj_03.jpg" alt="" /></div>
                                        <div class="item-inner">
                                            <div class="item-text cart-text">地线夹/接地夹/搭铁夹 500A</div>
                                            <p class="cart-class">重量：4.72kg  颜色：12V锂电钻（双电池）</p>
                                            <div class="item-footer item-sm-footer">
                                                <div class="item_price">
                                                    <span class="price">
                                                        <dfn>¥</dfn>
                                                        <b class="singleMoney">45</b>
                                                    </span>
                                                    <span class="unit">个</span>
                                                </div>
                                                <div class="item_count">
                                                    <!--<i class="m_icon icon_add"></i>
                                                    <input type="text" value="5" id="input_count" class="input_count">
                                                    <i class="m_icon icon_subtraction"></i>-->
                                                    <span>x</span>
                                                    <span class="selectNum">1</span>
                                                </div>
                                            </div>
                                            <div class="delet-content">
                                                <div class="delet-inner">
                                                    <div class="delet-cart">
                                                        <div class="delet-text">删除</div>
                                                        <div class="delet-list"><p class="delet-reduce">-</p><p class="delet-input"><input type="text" value="1" /></p><p class="delet-add">+</p></div>
                                                        <p class="delet-class-text open-panel">颜色分类:黑色;鞋码:42-270mm现货<span class="icon icon-down pull-right"></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-right panel-cover u_filter-panel">
                <div class="content-block dp-content">
                    <div class="dp-top">
                        <div class="dpt-l">
                            <p>
                                <img class="J_pimg" src="../asset/90.jpg">
                            </p>
                        </div>
                        <div class="dpt-r">
                            <div class="dpt-rt" id="J_detail_skupr"><span class="dpt-pri">¥388.00</span>(库存2043件)</div><span class="dpt-opt J_skutext">还未选 <span class="dpt-gray">鞋码,颜色分类</span></span>
                        </div>
                        <div class="dpt-c J_dclose"></div>
                    </div>
                    <div class="J_skuEle">
                        <div class="J_skuScroll">
                            <div class="dp-cont">
                                <div class="dpc-p">
                                    <div class="dpc-tl">鞋码</div>
                                    <div class="dpc-pr" propname="鞋码">
                                        <span class="J_skuspan" data-id="20549:670">35/220现货</span><span class="J_skuspan" data-id="20549:671">36/225在途</span><span class="J_skuspan" data-id="20549:44895">36.5/230现货</span><span class="J_skuspan" data-id="20549:28388">38/240现货</span><span class="J_skuspan" data-id="20549:44897">38.5/245现货</span><span class="J_skuspan" data-id="20549:672">39/250现货</span><span class="J_skuspan" data-id="20549:28389">40/255现货</span><span class="J_skuspan" data-id="20549:44899">40.5/260现货</span><span class="J_skuspan" data-id="20549:28390">41/265现货</span><span class="J_skuspan" data-id="20549:28391">42/270现货</span><span class="J_skuspan" data-id="20549:44901">42.5/275现货</span><span class="J_skuspan" data-id="20549:28392">43/280现货</span><span class="J_skuspan" data-id="20549:28393">44/285现货</span><span class="J_skuspan" data-id="20549:44903">44.5/290现货</span>

                                    </div>
                                </div>
                                <div class="dpc-p">
                                    <div class="dpc-tl">颜色分类</div>
                                    <div class="dpc-pr" propname="颜色分类">
                                        <span class="J_skuspan" data-id="1627207:28341">黑色VN-0D3HY28</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dp-btom">
                        <div class="dp-cart-btom-cancel close-panel">
                            <span id="J_skubton_cancel" class="dp-bton">取消</span>
                        </div>
                        <div class="dp-cart-btom-ok">
                            <span id="J_skubton_ok" class="dp-bton">确定</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--<script>$.config = { router: false }</script>-->
    <script src="../js/frames/sm.min.js"></script>
    <script src="../js/frames/sm-extend.min.js"></script>
    <script src="../js/frames/util.js"></script>
    <script src="../js/components/card.js"></script>
    <script>
        $(function () {
            var html = '';
            var str = '';
            $(document).on('tap', '.J_skuspan', function () {
                if ($(this).hasClass('sel')) {
                    $(this).removeClass('sel')
                    console.log('ok')
                } else {
                    $(this).addClass('sel');
                    $(this).siblings().removeClass('sel')
                }
                html = $(this).html();
                if ($(this).hasClass('sel')) {
                     $('.dpt-opt.J_skutext').html("已选:" + '"' + html + '"' + "<span class='dpt-gray'> 未选: 颜色分类</span>");
                } else {
                    $('.dpt-opt.J_skutext').html('还未选 ' + '<span class="dpt-gray">鞋码,颜色分类</span>')
                }
            })
        })

        $.init();
    </script>

</body>
</html>