<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品详情</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!--<link rel="shortcut icon" href="/favicon.ico">-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="../css/frames/sm.min.css" rel="stylesheet" />
    <link href="../css/frames/sm-extend.min.css" rel="stylesheet" />
    <link href="../css/frames/common.css" rel="stylesheet" />
    <link href="../css/frames/icons.css" rel="stylesheet" />
    <link href="../css/views/index.css?v=1111" rel="stylesheet" />
    <link href="../css/views/goodClass.css" rel="stylesheet" />
    <link href="../css/views/itmes.css" rel="stylesheet" />
    <script src="../js/frames/zepto.js"></script>
    <script src="../js/frames/common.js"></script>
    <!--<script src="../js/views/goodClass.js"></script>-->
    <script src="../js/components/createPage.js"></script>
    <link href="../css/views/main.css" rel="stylesheet" />
</head>
<body>

    <div class="page-group">
        <!-- 单个page ,第一个.page默认被展示-->
        <div class="page page-current">
            <!-- 标题栏 -->
            <div class="bar bar-nav page-top-nav">
                <a class="button button-link button-nav pull-left back" href="../index.html">
                    <span class="icon icon-left"></span>
                    返回
                </a>
                <h1 class="title">品牌分类</h1>
                <a class="button button-link button-nav pull-right" href="">
                    搜索
                    <span class="icon icon-up"></span>
                </a>
            </div>
            <!-- 工具栏 -->
            <nav class="bar bar-tab" style="background:#FFF">
                    <a class="tab-item external active" href="../index.html">
                        <span class="icon icon-home"></span>
                        <span class="tab-label">首页</span>
                    </a>

                    <a class="tab-item external" href="cart.html">
                        <span class="icon icon-cart"></span>
                        <span class="tab-label">购物车</span>
                    </a>
                    <a class="tab-item external" href="recommend.html">
                        <span class="icon icon-app"></span>
                        <span class="tab-label">我的订单</span>
                    </a>
                    <a class="tab-item external" href="account.html">
                        <span class="icon icon-me"></span>
                        <span class="tab-label">我的</span>
                    </a>
            </nav>

            <!-- 这里是页面内容区 -->

            <div class="content p-xjae">
                <div class="content-padded p-con">
                    <div class="searchbar row c-search-top" style="display:none;">
                        <div class="search-input col-75 c-search-con-left">
                            <label class="icon icon-search" for="search"></label>
                            <input type="search" id='search' placeholder='请输入您要的品牌' class="c-search-inp"/>
                        </div>
                        <a class="button button-fill button-primary col-27 c-search-button">搜索品牌</a>
                    </div>
                    <div class="c-search-m col-100">
                        <ul class="c-ser-ul">
                            <li><a class="c-search-activty">A</a></li>
                            <li><a>B</a></li>
                            <li><a>C</a></li>
                            <li><a>D</a></li>
                            <li><a>E</a></li>
                            <li><a>F</a></li>
                            <li><a>G</a></li>
                            <li><a>H</a></li>
                            <li><a>I</a></li>
                            <li><a>J</a></li>
                            <li><a>K</a></li>
                            <li><a>L</a></li>
                            <li><a>M</a></li> 
                        </ul>
                        <ul class="c-ser-ul">
                            <li><a>N</a></li>
                            <li><a>O</a></li>
                            <li><a>P</a></li>
                            <li><a>Q</a></li>
                            <li><a>R</a></li>
                            <li><a>S</a></li>
                            <li><a>T</a></li>
                            <li><a>U</a></li>
                            <li><a>V</a></li>
                            <li><a>W</a></li>
                            <li><a>X</a></li>
                            <li><a>Y</a></li>
                            <li><a>Z</a></li>
                        </ul>
                    </div>
                    <div class="row no-gutter c-pp-con col-100">
                        <div class="col-50 c-pp-inner">
                            <div class="c-pp-name col-40">品牌名字</div>
                            <div class="c-pp-im col-60">
                                <img src="../asset/a1.png" />
                            </div>
                        </div>
                        <div class="col-50 c-pp-inner">
                            <div class="c-pp-name col-40">品牌名字</div>
                            <div class="c-pp-im col-60">
                                <img src="../asset/a1.png" />
                            </div>
                        </div>
                        <div class="col-50 c-pp-inner">
                            <div class="c-pp-name col-40">品牌名字</div>
                            <div class="c-pp-im col-60">
                                <img src="../asset/a1.png" />
                            </div>
                        </div>
                        <div class="col-50 c-pp-inner">
                            <div class="c-pp-name col-40">品牌名字</div>
                            <div class="c-pp-im col-60">
                                <img src="../asset/a1.png" />
                            </div>
                        </div>
                        <div class="col-50 c-pp-inner">
                            <div class="c-pp-name col-40">品牌名字</div>
                            <div class="c-pp-im col-60">
                                <img src="../asset/a1.png" />
                            </div>
                        </div>
                        <div class="col-50 c-pp-inner">
                            <div class="c-pp-name col-40">品牌名字</div>
                            <div class="c-pp-im col-60">
                                <img src="../asset/a1.png" />
                            </div>
                        </div>
                        <div class="col-50 c-pp-inner">
                            <div class="c-pp-name col-40">品牌名字</div>
                            <div class="c-pp-im col-60">
                                <img src="../asset/a1.png" />
                            </div>
                        </div>
                        <div class="col-50 c-pp-inner">
                            <div class="c-pp-name col-40">品牌名字</div>
                            <div class="c-pp-im col-60">
                                <img src="../asset/a1.png" />
                            </div>
                        </div>
                        <div class="col-50 c-pp-inner">
                            <div class="c-pp-name col-40">品牌名字</div>
                            <div class="c-pp-im col-60">
                                <img src="../asset/a1.png" />
                            </div>
                        </div>
                        <div class="col-50 c-pp-inner">
                            <div class="c-pp-name col-40">品牌名字</div>
                            <div class="c-pp-im col-60">
                                <img src="../asset/a1.png" />
                            </div>
                        </div>
                        <div class="col-50 c-pp-inner">
                            <div class="c-pp-name col-40">品牌名字</div>
                            <div class="c-pp-im col-60">
                                <img src="../asset/a1.png" />
                            </div>
                        </div>
                        <div class="col-50 c-pp-inner">
                            <div class="c-pp-name col-40">品牌名字</div>
                            <div class="c-pp-im col-60">
                                <img src="../asset/a1.png" />
                            </div>
                        </div>
                        <div class="col-50 c-pp-inner">
                            <div class="c-pp-name col-40">品牌名字</div>
                            <div class="c-pp-im col-60">
                                <img src="../asset/a1.png" />
                            </div>
                        </div>
                        <div class="col-50 c-pp-inner">
                            <div class="c-pp-name col-40">品牌名字</div>
                            <div class="c-pp-im col-60">
                                <img src="../asset/a1.png" />
                            </div>
                        </div>
                        <div class="col-50 c-pp-inner">
                            <div class="c-pp-name col-40">品牌名字</div>
                            <div class="c-pp-im col-60">
                                <img src="../asset/a1.png" />
                            </div>
                        </div>
                        <div class="col-50 c-pp-inner">
                            <div class="c-pp-name col-40">品牌名字</div>
                            <div class="c-pp-im col-60">
                                <img src="../asset/a1.png" />
                            </div>
                        </div>
                        <div class="col-50 c-pp-inner">
                            <div class="c-pp-name col-40">品牌名字</div>
                            <div class="c-pp-im col-60">
                                <img src="../asset/a1.png" />
                            </div>
                        </div>
                        <div style="height:2rem;width:100%;float:left"></div>
                    </div>
                </div>

            </div>
       </div>
                <!-- 其他的单个page内联页（如果有） -->
                <div class="page">...</div>
  </div>
            <!-- popup, panel 等放在这里 -->
            <div class="panel-overlay"></div>
            <script>$.config = { router: false }</script>
            <script src="../js/frames/sm.min.js"></script>
            <script src="../js/frames/sm-extend.min.js"></script>
</body>
</html>
