<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品详情</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!--<link rel="shortcut icon" href="/favicon.ico">-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="../css/frames/sm.min.css" rel="stylesheet" />
    <link href="../css/frames/sm-extend.min.css" rel="stylesheet" />
    <link href="../css/frames/common.css" rel="stylesheet" />
    <link href="../css/frames/icons.css" rel="stylesheet" />
    <link href="../css/views/itmes.css" rel="stylesheet" />
    <link href="../css/views/submitOrder.css" rel="stylesheet" />
    <script src="../js/frames/zepto.js"></script>
    <script src="../js/frames/common.js"></script>
    <script src="../js/frames/jump.js"></script>
</head>
<body>
    <div class="page-group">
        <div class="page page-current">
            <header class="bar bar-nav">
                <a class="icon icon-left pull-left back"></a>
                <a class="pull-right index-icon-top">
                    <img src="../asset/icons/index-icon-top.png" />
                </a>
                <h1 class="title">付款详情</h1>
                <div class="public-go-back">
                    <ul>
                        <li><a>首页</a></li>
                        <li><a>登陆</a></li>
                        <li><a>注册</a></li>
                        <li><a>购物车</a></li>
                        <li><a>我的雄威</a></li>
                        <li><a>用户反馈</a></li>
                    </ul>
                </div>
            </header>
            <div class="content sub-content">
                <div class="content-block SP-block pecei-top">
                    <div class="PS-content recei-bor">
                        <div class="PS-method">订单信息：</div>
                        <div class="PS-free"><span>博世（AO）TSF 1234T3充电........</span></div>
                    </div>
                    <div class="PS-content">
                        <div class="PS-method">支付宝账号户：</div>
                        <div class="PS-free"><span>boy***@sina.com</span></div>
                    </div>
                    <div class="PS-content open-panel">
                        <div class="PS-method">付款方式</div>
                        <div class="PS-free"></div>
                        <div class="PS-select">招商银行信用卡(2876)&nbsp;&nbsp;<span class="icon icon-right"></span></div>
                    </div>
                    <div class="PS-content confirm-pay">
                        <div class="PS-method">需付款</div>
                        <div class="PS-free"></div>
                        <div class="PS-select">
                            <span class="PS-tatal-money">268</span>
                            <span class="PS-tatal-money">.</span>
                            <span class="PS-tatal-money">00</span>
                            <span class="PS-tatal-money">元</span>
                        </div>
                    </div>
                </div>
                <div class="content-block recei-add-ok">确认付款</div>
            </div>
            <div class="panel panel-right panel-cover">
                <div class="content-block">
                    <header class="bar bar-nav">
                        <a class="icon icon-left pull-left close-panel"></a>
                        <h1 class="title">选择付款方式</h1>
                    </header>
                    <div style="height:2rem;"></div>
                    <div class="confirm-pay-content">
                        <div class="PS-method">
                            <img src="../asset/9.png" />
                        </div>
                        <div class="PS-free confirm-pay-method">支付宝支付</div>
                        <div class="PS-select confirm-pay-method"><span class="icon icon-right"></span></div>
                    </div>
                    <div class="confirm-pay-content">
                        <div class="PS-method">
                            <img src="../asset/1.png" /></div>
                        <div class="PS-free confirm-pay-method">微信支付</div>
                        <div class="PS-select confirm-pay-method"><span class="icon icon-right"></span></div>
                    </div>
                    <div class="confirm-pay-content">
                        <div class="PS-method">
                            <img src="../asset/2.png" /></div>
                        <div class="PS-free confirm-pay-method">银联支付</div>
                        <div class="PS-select confirm-pay-method"><span class="icon icon-right"></span></div>
                    </div>
                    <div class="confirm-msg">
                        温馨提示：如果您使用个人账户支付，根据《中华人民共和国税法》规定，我们只能
                        为您提供相应的普通发票
                    </div>
                </div>
            </div>
            </div>
        </div>


    <script src="../js/frames/sm.min.js"></script>
    <script src="../js/frames/sm-extend.min.js"></script>
    
</body>
</html>
