<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品详情</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!--<link rel="shortcut icon" href="/favicon.ico">-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="../css/frames/sm.min.css" rel="stylesheet" />
    <link href="../css/frames/sm-extend.min.css" rel="stylesheet" />
    <link href="../css/frames/icons.css" rel="stylesheet" />
    <link href="../css/frames/common.css" rel="stylesheet" />
    <link href="../css/views/index.css" rel="stylesheet" />
    <link href="../css/views/itmes.css" rel="stylesheet" />
    <link href="../css/views/detail.css" rel="stylesheet" />
    <script src="../js/frames/zepto.js"></script>
    <script src="../js/frames/touch.js"></script>
    <script src="../js/frames/jump.js"></script>
</head>
<body>
    <div class="page-group" id="dddd">
        <!-- 单个page ,第一个.page默认被展示-->
        <div class="page page-current">
            <!-- 标题栏 -->
            <header class="bar bar-nav row top-content">
                <div class="logo">
                    <a href="#">
                        <img src="../asset/imgs/top/logo.jpg" style="width:100%;height:100%;" />
                    </a>
                </div>
                <div class="searchbar row col-60 search-label">
                    <div class="search-input col-100">
                        <input type="search" id='search-detail' class="open-popup" placeholder='输入关键字...' style="border-radius:1rem;background:#fff" disabled />
                    </div>
                    <a class="button button-primary top-button"><span class="icon icon-search"></span></a>
                </div>
                <div class="top-shop col-10">
                    <a href="#" class="">
                        <span class="icon icon-menu in-top-menu open-panel" data-panel='#index-detail-panel'></span>
                    </a>

                </div>
            </header>

            <!-- 底部工具栏 -->
            <nav class="bar bar-tab row no-gutter col-100">
                    <div class="row col-100" style="height:100%">
                        <div class="col-10" style="width:15%;height:100%">
                            <a class="tab-item external active" href="#">
                                <span class="icon icon-message"></span>
                                <span class="tab-label">客服</span>
                            </a>
                       </div>
                        <div class="col-10" style="width:15%;height:100%">
                            <a class="tab-item external" href="#">
                                <span class="icon icon-cart"></span>
                                <span class="tab-label">购物车</span>
                            </a>
                        </div>
                        <div class="col-10" style="width:15%;height:100%">
                            <a class="tab-item external" href="#">
                                <span class="icon icon-star"></span>
                                <span class="tab-label">收藏</span>
                            </a>
                        </div>
                        <div class="col-35" style="background:#fc751a;width:27.5%;height:100%;">
                            <a class="tab-item external" href="#">
                                <span class="tab-label" style="color:#fff">加入购物车</span>
                            </a>
                        </div>
                        <div class="col-35" style="background:#fa2b2b;width:27.5%;height:100%;">
                            <a class="tab-item external" href="submitOrder.html">
                                <span class="tab-label" style="color:#fff">立即购买</span>
                            </a>
                        </div>
                    </div>
            </nav>
            <div class="content">


                <!--标题栏-->
                <div class="buttons-tab" style="z-index:2">
                    <a class="tab-link button back" style="width:6rem;"><span class="icon icon-left back"></span></a>
                    <a href="#tab1" class="tab-link active button">商品</a>
                    <a href="#tab2" class="tab-link button">详情</a>
                    <a href="#tab3" class="tab-link button">评价</a>
                </div>

                <div class="content-block j-afjea">
                    <div class="tabs">
                        <div id="tab1" class="tab active">
                            <div class="content-block j-afjea">
                                <!--图片滚动-->
                                <div id="fhsrh" class="m_part u_swiper_container card-content">
                                    <div class="swiper-container swiper-bottom-line">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide"><a href="views/detail.html"><img src="../asset/imgs/b_01_150914.png" alt="" /></a></div>
                                            <div class="swiper-slide"><a href="views/detail.html"><img src="../asset/imgs/b_03_150914.png" alt=""></a></div>
                                            <div class="swiper-slide"><a href="views/detail.html"><img src="../asset/imgs/b_02_150914.png" alt=""></a></div>
                                            <div class="swiper-slide"><a href="views/detail.html"><img src="../asset/imgs/th_02_150914.jpg" alt=""></a></div>
                                        </div>
                                        <!--<div class="swiper-pagination"></div>-->
                                        <div class="swiper-paginat swiper-pagination-fraction" id="sliderNav">
                                            <span class="swiper-pagination-current">1</span>/
                                            <span class="swiper-pagination-total">0</span>
                                        </div>
                                    </div>
                                </div>
                                <!--  -->
                                <!--内容一-->
                                <div class="card-content col-100 card-detail">
                                    <div class="g-dfaje">
                                        <div class="g-ghej">
                                            <div class="g-eite">
                                                <h3>东成DCA工具平板式砂光机</h3>
                                                <h3>S1B-F114*234砂磨砂纸机</h3>
                                                <p class="g-jjei col-100"><i class="g-efkha">￥:</i><span class="g-efhak">300.00</span><span class="g-wfka">/台</span><a class="g-dfjslk">降价通知</a></p>
                                                <p class="g-wade">520瓦高效电机，配合宽砂纸，更适合大面积砂光作业</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!--内容二-->
                                <div class="card-content col-100 h-caka">
                                    <div class="h-wad">
                                        <div class="h-awek">
                                            <div class="h-aja">
                                                <div class="h-wfak">
                                                    <p class="h-adfa col-100"><span class="h-efdakh">已选</span><strong class="h-efak">标配S1B-FF-93X185</strong><strong class="h-jluh"></strong>件<span class="h-adjlje"><span class="icon icon-up"></span></span></p>
                                                </div>
                                                <div class="h-uljl">
                                                    <p class="h-jled">颜色</p>
                                                    <div class="h-wjdff">
                                                        <ul class="h-nkh">
                                                            <li class="h-nkded">标配S1B-FF-93X185</li>
                                                            <li class="h-nkded">标配S1B-FF-93X185</li>
                                                            <li class="h-nkded">标配S1B-FF-93X185</li>
                                                            <li class="h-nkded">标配S1B-FF-93X185</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="h-ejld">
                                                    <p class="h-bped j-afjea"><span class="h-eeda" style="color:#b3b3b3;font-size:.8rem;">数量</span><span class="h-adljd">-</span><input type="text" class="h-caldj" /><span class="h-acladr">+</span></p>
                                                </div>
                                            </div>
                                            <div class="h-ccjal">
                                                <div class="h-nnladj col-100"><p class="h-mmae col-100" style="margin:0;"><span class="h-kkaea">延保</span><span class="h-hjsae"><span class="icon icon-up"></span></span></p></div>
                                                <div class="h-adakd">
                                                    <p class="h-xadfha j-afjea">只换不修</p>
                                                    <p style="font-size:.6rem;padding-left:1.9rem;" class="j-afjea"><input type="checkbox"/><span class="h-qladd">延保|￥43.00</span><b class="h-wjlajd">一年内换新</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table>
                                    <tr>
                                        <td>品名</td>
                                        <td class="g-sce">平板式砂光机</td>
                                        <td>品牌</td>
                                        <td class="g-sce">东成DCA</td>
                                        <td>产地</td>
                                        <td class="g-sce">江苏启东</td>
                                    </tr>
                                    <tr>
                                        <td>货号</td>
                                        <td class="g-sce">S1B-FF-114X234</td>
                                        <td>订货编号</td>
                                        <td class="g-sce">02110003</td>
                                        <td>包装</td>
                                        <td class="g-sce">
                                            纸盒
                                            <span style="font-size:.4rem;display:block">(长30cm宽18,高18cm)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">适用范围</td>
                                        <td colspan="4" class="g-sce">适合表面打磨</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">额定电压（V）</td>
                                        <td colspan="4" class="g-sce">适合表面打磨</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">额定频率（Hz）</td>
                                        <td colspan="4" class="g-sce">适合表面打磨</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">额定输入功率（W）</td>
                                        <td colspan="4" class="g-sce">适合表面打磨</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">平板尺寸（min）</td>
                                        <td colspan="4" class="g-sce">适合表面打磨</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">净重（Kg）</td>
                                        <td colspan="4" class="g-sce">适合表面打磨</td>
                                    </tr>
                                </table>
                                <!--内容三-->
                                <div class="card-content col-100 h-caka">
                                    <div class="h-wad">
                                        <div class="k-xnad">
                                            <div class="k-aedc"><p class="h-adfa"><span class="h-efdakh">送至</span><input type="text" id='picker-name' class="k-akdhf" value="北京 朝阳区" /></p></div>
                                            <div class="k-qeia"><p class="h-adfa k-qdcsj">现货,现在至明天14;00前完成下单,预计12月09日24:00前到达</p></div>
                                            <div class="k-xcjd"><p class="h-adfa"><span class="h-efdakh">运费 </span><span class="k-frja">货到付款运费25元，在线支付免运费</span></p></div>
                                            <div class="k-xzjd"><p class="h-adfa"><span class="h-efdakh">服务</span><span class="k-oeqa">由雄威特五金工具专营店发货并提供售后服务</span></p></div>
                                            <div class="k-eanf col-100"><p class="h-adfa"><span class="k-eajjd"></span><span class="k-rdvc">货到付款</span></p></div>
                                            <div class="h-efdakh k-cndkh">支持送货上门后在收款，支持现金、POS机刷卡等方式</div>
                                            <div class="k-cnajk"><p class="h-adfa"><span class="h-efdakh">提示</span><span class="k-cndhs">支持7天无理由退货</span></p></div>
                                        </div>
                                    </div>
                                </div>
                                <!--内容四-->
                                <div class="card-content col-100 h-caka">
                                    <div class="t-jade">
                                        <div class="h-wad">
                                            <div class="t-ljde">
                                                <div class="t-kjc">
                                                    <p class="h-adfa col-100">评价（<span>10</span>）<span class="t-xlej">好评<i class="t-teak">100%</i></span></p>
                                                </div>
                                            </div>
                                            <div class="t-caen">
                                                <p class="h-adfa col-100"><span class="t-wzdd"><em class="t-cjse"></em></span><span class="t-pcjd">隔壁家的老王</span></p>
                                                <div class="t-wdeds">功率大、交直流两用，送货速度快</div>
                                                <div class="t-qedx"><img /></div>
                                                <div class="t-mlxja">2016-9-10</div>
                                            </div>
                                            <div class="t-caen">
                                                <p class="h-adfa col-100"><span class="t-wzdd"><em class="t-cjse"></em></span><span class="t-pcjd">隔壁家的老王</span></p>
                                                <div class="t-wdeds">功率大、交直流两用，送货速度快</div>
                                                <div class="t-qedx"><img /></div>
                                                <div class="t-mlxja">2016-9-10</div>
                                            </div>
                                            <div class="t-hsxa col-100"><a href="#tab3" class="tab-link button">查看更多评价</a></div>
                                        </div>
                                    </div>
                                </div>
                                <!--内容五-->
                                <div class="card-content col-100 h-caka">
                                    <div class="e-czld">
                                        <div class="e-wdj row no-gutter">
                                            <div class="col-33 e-xldjj">
                                                <div class="e-qjdj col-100">
                                                    <img src="../asset/imgs/product/prod.jpg" />
                                                </div>
                                                <div class="e-mljz col-100">
                                                    <div>
                                                        <p class="h-adfa e-hcljs col-100">包邮12V锂电充电钻家用</p>
                                                        <p class="h-adfa e-hcljs col-100">手枪扭力钻多功能工具套装</p>
                                                        <p class="h-adfa e-hcljs"><b class="e-xjld">￥</b><span class="e-ukhx">90</span><span class="e-qejd">热卖</span><span class="e-wmdk">包邮</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-33 e-xldjj">
                                                <div class="e-qjdj col-100">
                                                    <img src="../asset/imgs/product/prod.jpg" />
                                                </div>
                                                <div class="e-mljz col-100">
                                                    <div>
                                                        <p class="h-adfa e-hcljs col-100">包邮12V锂电充电钻家用</p>
                                                        <p class="h-adfa e-hcljs col-100">手枪扭力钻多功能工具套装</p>
                                                        <p class="h-adfa e-hcljs"><b class="e-xjld">￥</b><span class="e-ukhx">90</span><span class="e-qejd">热卖</span><span class="e-wmdk">包邮</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-33 e-xldjj">
                                                <div class="e-qjdj col-100">
                                                    <img src="../asset/imgs/product/prod.jpg" />
                                                </div>
                                                <div class="e-mljz col-100">
                                                    <div>
                                                        <p class="h-adfa e-hcljs col-100">包邮12V锂电充电钻家用</p>
                                                        <p class="h-adfa e-hcljs col-100">手枪扭力钻多功能工具套装</p>
                                                        <p class="h-adfa e-hcljs"><b class="e-xjld">￥</b><span class="e-ukhx">90</span><span class="e-qejd">热卖</span><span class="e-wmdk">包邮</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="e-wdj row no-gutter">
                                            <div class="col-33 e-xldjj">
                                                <div class="e-qjdj col-100">
                                                    <img src="../asset/imgs/product/prod.jpg" />
                                                </div>
                                                <div class="e-mljz col-100">
                                                    <div>
                                                        <p class="h-adfa e-hcljs col-100">包邮12V锂电充电钻家用</p>
                                                        <p class="h-adfa e-hcljs col-100">手枪扭力钻多功能工具套装</p>
                                                        <p class="h-adfa e-hcljs"><b class="e-xjld">￥</b><span class="e-ukhx">90</span><span class="e-qejd">热卖</span><span class="e-wmdk">包邮</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-33 e-xldjj">
                                                <div class="e-qjdj col-100">
                                                    <img src="../asset/imgs/product/prod.jpg" />
                                                </div>
                                                <div class="e-mljz col-100">
                                                    <div>
                                                        <p class="h-adfa e-hcljs col-100">包邮12V锂电充电钻家用</p>
                                                        <p class="h-adfa e-hcljs col-100">手枪扭力钻多功能工具套装</p>
                                                        <p class="h-adfa e-hcljs"><b class="e-xjld">￥</b><span class="e-ukhx">90</span><span class="e-qejd">热卖</span><span class="e-wmdk">包邮</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-33 e-xldjj">
                                                <div class="e-qjdj col-100">
                                                    <img src="../asset/imgs/product/prod.jpg" />
                                                </div>
                                                <div class="e-mljz col-100">
                                                    <div>
                                                        <p class="h-adfa e-hcljs col-100">包邮12V锂电充电钻家用</p>
                                                        <p class="h-adfa e-hcljs col-100">手枪扭力钻多功能工具套装</p>
                                                        <p class="h-adfa e-hcljs"><b class="e-xjld">￥</b><span class="e-ukhx">90</span><span class="e-qejd">热卖</span><span class="e-wmdk">包邮</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--详情页面-->
                        <div id="tab2" class="tab">
                            <div class="content-block j-afjea">
                                <ul class="b-xjl">
                                    <li><img src="../asset/imgs/details/detai-img1.jpg"/></li>
                                    <li><img src="../asset/imgs/details/detai-img2.jpg" /></li>
                                    <li><img src="../asset/imgs/details/detai-img3.jpg" /></li>
                                    <li><img src="../asset/imgs/details/detai-img4.jpg" /></li>
                                    <li><img src="../asset/imgs/details/detai-img5.jpg" /></li>
                                    <li><img src="../asset/imgs/details/detai-img6.jpg" /></li>
                                    <li><img src="../asset/imgs/details/detai-img7.jpg" /></li>
                                </ul>
                            </div>
                        </div>
                        <!--评价页面-->
                        <div id="tab3" class="tab">
                            <div class="content-block j-afjea">
                                暂无评价。。。
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- 其他的单个page内联页（如果有） -->
        <div class="page"></div>
    </div>

    <!-- popup, panel 等放在这里 -->
    <div class="panel-overlay"></div>
    
    
    <!-- Left Panel with Reveal effect -->
    <div class="panel panel-right panel-cover" id="index-detail-panel" style="right:-182%;background: #242222;">
        <div class="content-block">
            <p><a href="#" class="close-panel in-close">关闭</a></p>
            <div class="panel-login-con">
                <ul class="login-go">
                    <li><a>首页</a></li>
                    <li><a>登录</a></li>
                    <li><a>注册</a></li>
                    <!--<li><a>购物车</a></li>
                    <li><a>我的雄威</a></li>-->
                </ul>
            </div>
        </div>
    </div>
    <!--底部搜索弹窗-->
    <div class="popup u_popup-search popup--search-detail-popup" data-toggle="scroller" data-type='native'>
        <header class="bar bar-nav row">
            <div class="col-80">
                <div class="searchbar">
                    <a class="searchbar-cancel close-popup">取消</a>
                    <div class="search-input">
                        <label class="icon icon-search" for="search"></label>
                        <input type="search" id='search-pop' placeholder='输入关键字' />
                    </div>
                </div>
            </div>
            <a class="button button-fill button-primary col-20">搜索</a>
        </header>
        <div class="content">
            <div class="content-block">
                <div class="u_hot">
                    <h6>热门搜索</h6>
                    <ul class="u_search_items clearfix">
                        <li class="u_search_item"><a href="#">韩光</a></li>
                        <li class="u_search_item"><a href="#">拳王</a></li>
                        <li class="u_search_item"><a href="#">周年5折</a></li>
                        <li class="u_search_item"><a href="#">离子切割机</a></li>
                        <li class="u_search_item"><a href="#">乙炔割嘴</a></li>
                        <li class="u_search_item"><a href="#">隆兴</a></li>
                    </ul>
                </div>
                <div class="u_history">
                    <h6>最近搜索</h6>
                    <ul class="u_search_items clearfix">
                        <li class="u_search_item"><a href="#">韩光</a></li>
                        <li class="u_search_item"><a href="#">拳王</a></li>
                        <li class="u_search_item"><a href="#">周年5折</a></li>
                        <li class="u_search_item"><a href="#">离子切割机</a></li>
                        <li class="u_search_item"><a href="#">乙炔割嘴</a></li>
                        <li class="u_search_item"><a href="#">隆兴</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>$.config = { router: false }</script>
    <script src="../js/frames/sm.min.js"></script>
    <script src="../js/frames/sm-extend.min.js"></script>
    <script src="../js/views/detail.js"></script>
    <script>
        (function () {
            var imglength = $('.swiper-slide');
            var swipertotal = imglength.size();
            $('.swiper-pagination-total').html(swipertotal);
            $('.swiper-pagination-current').html(swipertotal / swipertotal);
        })()


        $(".swiper-container").swiper({
            lazyLoadingInPrevNext: true,
            autoplay: 3000,
            autoplayStopOnLast: false,
            onTransitionStart: function (w) {
                var swiper_pagination_current = $('.swiper-pagination-current');
                swiper_pagination_current.html(w.activeIndex + 1);
            },
            onTouchEnd: function (q, e) {
                //q.startAutoplay();
            }
        });

        $('.h-adjlje').on('click', function () {
            var haja = $('.h-aja');
            if (haja.offset().height == 25) {
                haja.css('height', 200);
                haja.find('.icon-down').removeClass('icon-down').addClass('icon-up');
            } else if (haja.offset().height == 200) {
                haja.css('height', 25);
                haja.find('.icon-up').removeClass('icon-up').addClass('icon-down');
            }
        })
        $('.h-hjsae').on('click', function () {
            var hjsae = $('.h-ccjal');
            if (hjsae.offset().height == 25) {
                hjsae.css('height', 88);
                hjsae.find('.icon-down').removeClass('icon-down').addClass('icon-up');
            } else if (hjsae.offset().height == 88) {
                hjsae.css('height', 25);
                hjsae.find('.icon-up').removeClass('icon-up').addClass('icon-down');
            }
        })
        $('#search-detail').on('click', function () {
            $.popup('.popup--search-detail-popup');
            alert()
        });
        $.init();

    </script>

</body>
</html>