<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品详情</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!--<link rel="shortcut icon" href="/favicon.ico">-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="../css/frames/sm.min.css" rel="stylesheet" />
    <link href="../css/frames/sm-extend.min.css" rel="stylesheet" />
    <link href="../css/frames/common.css" rel="stylesheet" />
    <link href="../css/frames/icons.css" rel="stylesheet" />
    <link href="../css/views/index.css" rel="stylesheet" />
    <link href="../css/views/goodClass.css" rel="stylesheet" />
    <link href="../css/views/itmes.css" rel="stylesheet" />
    <link href="../css/views/goodList.css" rel="stylesheet" />
    <script src="../js/frames/zepto.js"></script>
    <script src="../js/frames/common.js"></script>
    <script src="../js/frames/jump.js"></script>
    <script src="../js/views/goodList.js"></script>
</head>
<body>

    <div class="page-group">
        <!-- 单个page ,第一个.page默认被展示-->
        <div class="page page-current">
            <!-- 标题栏-->
            <!--头部导航-->
            <header class="bar bar-nav row top-content">
                <div class="logo">
                    <a href="#">
                        <img src="../asset/imgs/top/logo.jpg" style="width:100%;height:100%;" />
                    </a>
                </div>
                <div class="searchbar row col-60 search-label">
                    <div class="search-input col-100 index-search" id=''>
                        <input type="search" placeholder='输入关键字...' style="border-radius:1rem;background:#fff" disabled />
                    </div>
                    <a class="button button-primary top-button"><span class="icon icon-search"></span></a>
                </div>
                <div class="top-shop col-10">
                    <a href="#" class="">
                        <span class="icon icon-menu in-top-menu open-panel" data-panel='#index-login-panel'></span>
                    </a>

                </div>
            </header>
            <!--头部导航-->
            
            <!-- 工具栏 
            <nav class="bar bar-tab" style="background:#FFF">
                <a class="tab-item external active" href="../index.html">
                    <span class="icon icon-home"></span>
                    <span class="tab-label">首页</span>
                </a>

                <a class="tab-item external" href="cart.html">
                    <span class="icon icon-cart"></span>
                    <span class="tab-label">购物车</span>
                </a>
                <a class="tab-item external" href="recommend.html">
                    <span class="icon icon-app"></span>
                    <span class="tab-label">我的订单</span>
                </a>
                <a class="tab-item external" href="account.html">
                    <span class="icon icon-me"></span>
                    <span class="tab-label">我的</span>
                </a>
            </nav>
-->
            <!-- 这里是页面内容区 -->
            <div class="content">
                <div class="content-block j-afjea">
                    <div class="page-top-nav fixed-tab">
                        <ul>
                            <li><a class="j-vaesd back"><span class="icon icon-left back repad"></span></a></li>
                            <li><a class="j-good-activity">综合</a></li>
                            <li><a>销量</a></li>
                            <li><a class="j-xde">价格</a></li>
                            <li><a class="open-panel" data-panel='#panel-right-shaixuan'>筛选</a></li>
                        </ul>
                    </div>
                    <a href="detail.html" external>
                        <div class="row no-gutter gl-xkk">
                            <div class="row col-100">
                                <div class="col-25 gl-im">
                                    <img src="../asset/imgs/goodList/a1.png" width="100%" />
                                </div>
                                <div class="col-75 gl-sed">
                                    <div class="col-100 gl-hj">
                                        <h4>涪柴牌水泵</h4>
                                        <div class="gl-nm">
                                            <p class="gl-rt"><b class="gl-we">￥：</b><span class="gl-ex">566</span><span class="gl-pk">/台</span></p>
                                            <p class="gl-rt"><span class="gl-bn">热卖</span><span class="gl-ml">包邮</span><span class="gl-sd">限量供应，限时抢购！！</span></p>
                                            <!--<p class="gl-uo"><span class="icon icon-cart gl-wwd"></span><span class="icon icon-right gl-ttr"></span></p>-->
                                        </div>
                                        <p class="gl-qw"><span>浙江</span><span class="gl-ppd">台州</span><span class="gl-ppd">46585条评价</span><span class="gl-rrd">月销1000台</span></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </a>
                    <div class="row no-gutter gl-xkk">
                        <div class="row col-100">
                            <div class="col-25 gl-im">
                                <img src="../asset/imgs/goodList/a1.png" width="100%" />
                            </div>
                            <div class="col-75 gl-sed">
                                <div class="col-100 gl-hj">
                                    <h4>涪柴牌水泵</h4>
                                    <div class="gl-nm">
                                        <p class="gl-rt"><b class="gl-we">￥：</b><span class="gl-ex">566</span><span class="gl-pk">/台</span></p>
                                        <p class="gl-rt"><span class="gl-bn">热卖</span><span class="gl-ml">包邮</span><span class="gl-sd">限量供应，限时抢购！！</span></p>
                                        <!--<p class="gl-uo"><span class="icon icon-cart gl-wwd"></span><span class="icon icon-right gl-ttr"></span></p>-->
                                    </div>
                                    <p class="gl-qw"><span>浙江</span><span class="gl-ppd">台州</span><span class="gl-ppd">46585条评价</span><span class="gl-rrd">月销1000台</span></p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row no-gutter gl-xkk">
                        <div class="row col-100">
                            <div class="col-25 gl-im">
                                <img src="../asset/imgs/goodList/a1.png" width="100%" />
                            </div>
                            <div class="col-75 gl-sed">
                                <div class="col-100 gl-hj">
                                    <h4>涪柴牌水泵</h4>
                                    <div class="gl-nm">
                                        <p class="gl-rt"><b class="gl-we">￥：</b><span class="gl-ex">566</span><span class="gl-pk">/台</span></p>
                                        <p class="gl-rt"><span class="gl-bn">热卖</span><span class="gl-ml">包邮</span><span class="gl-sd">限量供应，限时抢购！！</span></p>
                                        <!--<p class="gl-uo"><span class="icon icon-cart gl-wwd"></span><span class="icon icon-right gl-ttr"></span></p>-->
                                    </div>
                                    <p class="gl-qw"><span>浙江</span><span class="gl-ppd">台州</span><span class="gl-ppd">46585条评价</span><span class="gl-rrd">月销1000台</span></p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row no-gutter gl-xkk">
                        <div class="row col-100">
                            <div class="col-25 gl-im">
                                <img src="../asset/imgs/goodList/a1.png" width="100%" />
                            </div>
                            <div class="col-75 gl-sed">
                                <div class="col-100 gl-hj">
                                    <h4>涪柴牌水泵</h4>
                                    <div class="gl-nm">
                                        <p class="gl-rt"><b class="gl-we">￥：</b><span class="gl-ex">566</span><span class="gl-pk">/台</span></p>
                                        <p class="gl-rt"><span class="gl-bn">热卖</span><span class="gl-ml">包邮</span><span class="gl-sd">限量供应，限时抢购！！</span></p>
                                       <!-- <p class="gl-uo"><span class="icon icon-cart gl-wwd"></span><span class="icon icon-right gl-ttr"></span></p>-->
                                    </div>
                                    <p class="gl-qw"><span>浙江</span><span class="gl-ppd">台州</span><span class="gl-ppd">46585条评价</span><span class="gl-rrd">月销1000台</span></p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row no-gutter gl-xkk">
                        <div class="row col-100">
                            <div class="col-25 gl-im">
                                <img src="../asset/imgs/goodList/a1.png" width="100%" />
                            </div>
                            <div class="col-75 gl-sed">
                                <div class="col-100 gl-hj">
                                    <h4>涪柴牌水泵</h4>
                                    <div class="gl-nm">
                                        <p class="gl-rt"><b class="gl-we">￥：</b><span class="gl-ex">566</span><span class="gl-pk">/台</span></p>
                                        <p class="gl-rt"><span class="gl-bn">热卖</span><span class="gl-ml">包邮</span><span class="gl-sd">限量供应，限时抢购！！</span></p>
                                       <!-- <p class="gl-uo"><span class="icon icon-cart gl-wwd"></span><span class="icon icon-right gl-ttr"></span></p>-->
                                    </div>
                                    <p class="gl-qw"><span>浙江</span><span class="gl-ppd">台州</span><span class="gl-ppd">46585条评价</span><span class="gl-rrd">月销1000台</span></p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row no-gutter gl-xkk">
                        <div class="row col-100">
                            <div class="col-25 gl-im">
                                <img src="../asset/imgs/goodList/a1.png" width="100%" />
                            </div>
                            <div class="col-75 gl-sed">
                                <div class="col-100 gl-hj">
                                    <h4>涪柴牌水泵</h4>
                                    <div class="gl-nm">
                                        <p class="gl-rt"><b class="gl-we">￥：</b><span class="gl-ex">566</span><span class="gl-pk">/台</span></p>
                                        <p class="gl-rt"><span class="gl-bn">热卖</span><span class="gl-ml">包邮</span><span class="gl-sd">限量供应，限时抢购！！</span></p>
                                       <!-- <p class="gl-uo"><span class="icon icon-cart gl-wwd"></span><span class="icon icon-right gl-ttr"></span></p>-->
                                    </div>
                                    <p class="gl-qw"><span>浙江</span><span class="gl-ppd">台州</span><span class="gl-ppd">46585条评价</span><span class="gl-rrd">月销1000台</span></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- 其他的单个page内联页（如果有） -->
        <div class="page">...</div>
    </div>

    <!-- popup, panel 等放在这里 -->
    <div class="panel-overlay"></div>
    <!--右侧弹窗-->
    <div class="panel panel-right panel-cover" id="index-login-panel" style="right:-182%;background: #242222;">
        <div class="content-block">
            <p><a href="#" class="close-panel in-close">关闭</a></p>
            <div class="panel-login-con">
                <ul class="login-go">
                    <li><a>首页</a></li>
                    <li><a>登录</a></li>
                    <li><a>注册</a></li>
                    <!--<li><a>购物车</a></li>
                    <li><a>我的雄威</a></li>-->
                </ul>
            </div>
        </div>
    </div>
    <!-- Left Panel with Reveal effect -->
    <div class="panel panel-right panel-cover m-sift" id="panel-right-shaixuan">
        <div class="">
            <div class="sift-panel" id="J_SiftContent" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                <div class="content">
                    <div class="sift-row price-range-row">
                        <div class="row-head sift-row-expand">
                            <span class="title-tb">价格区间（元）</span><span class="two-input">
                                <input id="J_siftStartPrice" class="price-range-item" name="start_price" type="number" min="0" placeholder="最低价"><span class="divider">-</span>
                                <input id="J_siftEndPrice" class="price-range-item" name="end_price" type="number" min="0" placeholder="最高价">
                            </span>
                        </div>
                    </div>
                    <div class="sift-row">
                        <div class="row-head J_siftRowExpand">
                            <span class="title-tb">折扣和服务：</span>
                            <span class="selected-items"></span>
                            <span class="icon-switch icon icon-down"></span>
                        </div>
                        <div class="row-body">
                            <ul class="clearfix">
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="免运费" data-value="service_myf">免运费</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="天猫" data-value="tab_mall">雄威</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="全球购" data-value="service_hwsp">全球购</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="消费者保障" data-value="service_xfzbz">消费者保障</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="手机专享价" data-value="service_sjzx">手机专享价</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="淘金币" data-value="service_tjb">淘金币</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="货到付款" data-value="service_hdfk">货到付款</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="7天退换" data-value="service_qtth">7天退换</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="促销" data-value="tab_discount">促销</li>
                            </ul>
                        </div>
                    </div>
                    <div class="sift-row">
                        <div class="row-head J_siftRowExpand">
                            <span class="title-tb">折扣和服务：</span>
                            <span class="selected-items"></span>
                            <span class="icon-switch icon icon-down"></span>
                        </div>
                        <div class="row-body">
                            <ul class="clearfix">
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="免运费" data-value="service_myf">免运费</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="天猫" data-value="tab_mall">雄威</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="全球购" data-value="service_hwsp">全球购</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="消费者保障" data-value="service_xfzbz">消费者保障</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="手机专享价" data-value="service_sjzx">手机专享价</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="淘金币" data-value="service_tjb">淘金币</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="货到付款" data-value="service_hdfk">货到付款</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="7天退换" data-value="service_qtth">7天退换</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="促销" data-value="tab_discount">促销</li>
                            </ul>
                        </div>
                    </div>
                    <div class="sift-row">
                        <div class="row-head J_siftRowExpand">
                            <span class="title-tb">折扣和服务：</span>
                            <span class="selected-items"></span>
                            <span class="icon-switch icon icon-down"></span>
                        </div>
                        <div class="row-body">
                            <ul class="clearfix">
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="免运费" data-value="service_myf">免运费</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="天猫" data-value="tab_mall">雄威</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="全球购" data-value="service_hwsp">全球购</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="消费者保障" data-value="service_xfzbz">消费者保障</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="手机专享价" data-value="service_sjzx">手机专享价</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="淘金币" data-value="service_tjb">淘金币</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="货到付款" data-value="service_hdfk">货到付款</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="7天退换" data-value="service_qtth">7天退换</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="促销" data-value="tab_discount">促销</li>
                            </ul>
                        </div>
                    </div>
                    <div class="sift-row">
                        <div class="row-head J_siftRowExpand">
                            <span class="title-tb">折扣和服务：</span>
                            <span class="selected-items"></span>
                            <span class="icon-switch icon icon-down"></span>
                        </div>
                        <div class="row-body">
                            <ul class="clearfix">
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="免运费" data-value="service_myf">免运费</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="天猫" data-value="tab_mall">雄威</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="全球购" data-value="service_hwsp">全球购</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="消费者保障" data-value="service_xfzbz">消费者保障</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="手机专享价" data-value="service_sjzx">手机专享价</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="淘金币" data-value="service_tjb">淘金币</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="货到付款" data-value="service_hdfk">货到付款</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="7天退换" data-value="service_qtth">7天退换</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="促销" data-value="tab_discount">促销</li>
                            </ul>
                        </div>
                    </div>
                    <div class="sift-row">
                        <div class="row-head J_siftRowExpand">
                            <span class="title-tb">折扣和服务：</span>
                            <span class="selected-items"></span>
                            <span class="icon-switch icon icon-down"></span>
                        </div>
                        <div class="row-body">
                            <ul class="clearfix">
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="免运费" data-value="service_myf">免运费</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="天猫" data-value="tab_mall">雄威</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="全球购" data-value="service_hwsp">全球购</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="消费者保障" data-value="service_xfzbz">消费者保障</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="手机专享价" data-value="service_sjzx">手机专享价</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="淘金币" data-value="service_tjb">淘金币</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="货到付款" data-value="service_hdfk">货到付款</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="7天退换" data-value="service_qtth">7天退换</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="促销" data-value="tab_discount">促销</li>
                            </ul>
                        </div>
                    </div>
                    <div class="sift-row">
                        <div class="row-head J_siftRowExpand">
                            <span class="title-tb">折扣和服务：</span>
                            <span class="selected-items"></span>
                            <span class="icon-switch icon icon-down"></span>
                        </div>
                        <div class="row-body">
                            <ul class="clearfix">
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="免运费" data-value="service_myf">免运费</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="天猫" data-value="tab_mall">雄威</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="全球购" data-value="service_hwsp">全球购</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="消费者保障" data-value="service_xfzbz">消费者保障</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="手机专享价" data-value="service_sjzx">手机专享价</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="淘金币" data-value="service_tjb">淘金币</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="货到付款" data-value="service_hdfk">货到付款</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="7天退换" data-value="service_qtth">7天退换</li>
                                <li class="sift-item J_siftItem" data-type="multi" data-key="filter" data-name="促销" data-value="tab_discount">促销</li>
                            </ul>
                        </div>
                    </div>
                    <div class="sift-row sift-row-last">
                        <div class="row-head J_siftRowExpand">
                            <span class="title-tb">品牌：</span>
                            <span class="selected-items"></span>
                            <span class="switch-btn icons-sift-down"></span>
                        </div>
                        <div class="row-body">
                            <ul class="clearfix">
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="江浙沪" data-value="江浙沪">新界泵业</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="珠三角" data-value="珠三角">老百姓</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="北京" data-value="北京">水骆驼</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="上海" data-value="上海">上海</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="广州" data-value="广州">广州</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="深圳" data-value="深圳">深圳</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="杭州" data-value="杭州">杭州</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="成都" data-value="成都">成都</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="厦门" data-value="厦门">厦门</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="海外" data-value="海外">海外</li>
                            </ul>
                        </div>
                        <div class="row-head J_siftRowExpand">
                            <span class="title-tb">价格</span>
                            <span class="icon-switch icon icon-down"></span>
                        </div>
                        <div class="row-body">
                            <ul class="clearfix">
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="长沙" data-value="长沙">0-99</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="长春" data-value="长春">100-199</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="成都" data-value="成都">200-299</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="重庆" data-value="重庆">重庆</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="大连" data-value="大连">大连</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="东莞" data-value="东莞">东莞</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="杭州" data-value="杭州">杭州</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="合肥" data-value="合肥">合肥</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="哈尔滨" data-value="哈尔滨">哈尔滨</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="济南" data-value="济南">济南</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="昆明" data-value="昆明">昆明</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="宁波" data-value="宁波">宁波</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="南京" data-value="南京">南京</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="南昌" data-value="南昌">南昌</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="青岛" data-value="青岛">青岛</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="苏州" data-value="苏州">苏州</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="石家庄" data-value="石家庄">石家庄</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="沈阳" data-value="沈阳">沈阳</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="天津" data-value="天津">天津</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="温州" data-value="温州">温州</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="无锡" data-value="无锡">无锡</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="武汉" data-value="武汉">武汉</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="西安" data-value="西安">西安</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="厦门" data-value="厦门">厦门</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="郑州" data-value="郑州">郑州</li>
                            </ul>
                        </div>
                        <div class="row-head J_siftRowExpand">
                            <span class="title-tb">电钻类</span>
                            <span class="icon-switch icon icon-down"></span>
                        </div>
                        <div class="row-body">
                            <ul class="clearfix">
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="长沙" data-value="长沙">冲击钻</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="长春" data-value="长春">手电钻</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="成都" data-value="成都">锂电钻</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="重庆" data-value="重庆">重庆</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="大连" data-value="大连">大连</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="东莞" data-value="东莞">东莞</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="杭州" data-value="杭州">杭州</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="合肥" data-value="合肥">合肥</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="哈尔滨" data-value="哈尔滨">哈尔滨</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="济南" data-value="济南">济南</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="昆明" data-value="昆明">昆明</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="宁波" data-value="宁波">宁波</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="南京" data-value="南京">南京</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="南昌" data-value="南昌">南昌</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="青岛" data-value="青岛">青岛</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="苏州" data-value="苏州">苏州</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="石家庄" data-value="石家庄">石家庄</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="沈阳" data-value="沈阳">沈阳</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="天津" data-value="天津">天津</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="温州" data-value="温州">温州</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="无锡" data-value="无锡">无锡</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="武汉" data-value="武汉">武汉</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="西安" data-value="西安">西安</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="厦门" data-value="厦门">厦门</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="郑州" data-value="郑州">郑州</li>
                            </ul>
                        </div>
                        <div class="row-head J_siftRowExpand">
                            <span class="title-tb">磨切类</span>
                            <span class="icon-switch icon icon-down"></span>
                        </div>
                        <div class="row-body">
                            <ul class="clearfix">
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="安徽" data-value="安徽">起子机</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="澳门" data-value="澳门">冲击扳手</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="福建" data-value="福建">东音泵业</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="甘肃" data-value="甘肃">甘肃</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="广东" data-value="广东">广东</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="广西" data-value="广西">广西</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="贵州" data-value="贵州">贵州</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="海南" data-value="海南">海南</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="河北" data-value="河北">河北</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="河南" data-value="河南">河南</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="湖北" data-value="湖北">湖北</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="湖南" data-value="湖南">湖南</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="黑龙江" data-value="黑龙江">黑龙江</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="江苏" data-value="江苏">江苏</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="吉林" data-value="吉林">吉林</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="辽宁" data-value="辽宁">辽宁</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="内蒙古" data-value="内蒙古">内蒙古</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="宁夏" data-value="宁夏">宁夏</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="青海" data-value="青海">青海</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="山东" data-value="山东">山东</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="山西" data-value="山西">山西</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="陕西" data-value="陕西">陕西</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="四川" data-value="四川">四川</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="台湾" data-value="台湾">台湾</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="西藏" data-value="西藏">西藏</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="新疆" data-value="新疆">新疆</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="香港" data-value="香港">香港</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="云南" data-value="云南">云南</li>
                                <li class="sift-item J_siftItem" data-type="single" data-key="loc" data-name="浙江" data-value="浙江">浙江</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="sift-bottom">
                    <div class="sift-clear sift-btn" id="J_SiftClear">重置</div>
                    <div class="sift-btn-ok sift-btn" id="J_SiftCommit">确定</div>
                </div>
            </div>
        </div>
    </div>
     <!--底部搜索弹窗-->
        <div class="popup u_popup-search popup--search-popup" data-toggle="scroller" data-type='native'>
            <header class="bar bar-nav row">
                <div class="col-80">
                    <div class="searchbar">
                        <a class="searchbar-cancel close-popup">取消</a>
                        <div class="search-input">
                            <label class="icon icon-search" for="search"></label>
                            <input type="search" id='search-pop' placeholder='输入关键字' />
                        </div>
                    </div>
                </div>
                <a class="button button-fill button-primary col-20">搜索</a>
            </header>
            <div class="content">
                <div class="content-block">
                    <div class="u_hot">
                        <h6>热门搜索</h6>
                        <ul class="u_search_items clearfix">
                            <li class="u_search_item"><a href="#">韩光</a></li>
                            <li class="u_search_item"><a href="#">拳王</a></li>
                            <li class="u_search_item"><a href="#">周年5折</a></li>
                            <li class="u_search_item"><a href="#">离子切割机</a></li>
                            <li class="u_search_item"><a href="#">乙炔割嘴</a></li>
                            <li class="u_search_item"><a href="#">隆兴</a></li>
                        </ul>
                    </div>
                    <div class="u_history">
                        <h6>最近搜索</h6>
                        <ul class="u_search_items clearfix">
                            <li class="u_search_item"><a href="#">韩光</a></li>
                            <li class="u_search_item"><a href="#">拳王</a></li>
                            <li class="u_search_item"><a href="#">周年5折</a></li>
                            <li class="u_search_item"><a href="#">离子切割机</a></li>
                            <li class="u_search_item"><a href="#">乙炔割嘴</a></li>
                            <li class="u_search_item"><a href="#">隆兴</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

            <script src="../js/frames/sm.min.js"></script>
            <script src="../js/frames/sm-extend.min.js"></script>
    <script>
       
        $(function () {
            $('.index-search').on('touchstart', function () {
                $.popup('.popup--search-popup');
            });
            var flag = true;
            $(document).on('touchstart', '.row-head', function () {
                
                if (flag) {
                    $(this).parent().addClass('sift-row-expand');
                    $(this).children().eq(2).removeClass('icon-down');
                    $(this).children().eq(2).addClass('icon-up');
                    flag = false;
                } else {
                    $(this).parent().removeClass('sift-row-expand');
                    $(this).children().eq(2).removeClass('icon-up');
                    $(this).children().eq(2).addClass('icon-down');
                    flag = true;
                }
            })
            
            $(document).on('touchstart', '.sift-item.J_siftItem', function () {
                if ($(this).attr('data-type') == 'multi') {
                    if ($(this).hasClass('sift-item-selected')) {
                        $(this).removeClass('sift-item-selected')
                    } else {
                        $(this).addClass('sift-item-selected');
                        
                    }
                } else {
                    $('.sift-item.J_siftItem').removeClass('sift-item-selected')
                    $(this).addClass('sift-item-selected')
                } 
                
            })

            $(document).on('touchstart', '#J_SiftClear', function () {
                $('.sift-item.J_siftItem').removeClass('sift-item-selected')
            })

        })
    </script>
</body>
</html>
