<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!--<link rel="shortcut icon" href="/favicon.ico">-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>雄威供应链管理系统</title>
    <link href="../css/frames/sm.min.css" rel="stylesheet" />
    <link href="../css/frames/sm-extend.min.css" rel="stylesheet" />
    <link href="../css/frames/common.css" rel="stylesheet" />
    <link href="../css/frames/icons.css" rel="stylesheet" />
    <link href="../css/views/recommend.css" rel="stylesheet" />
</head>
<body>
    <div id="WP-Items" class="wrapper WP-Recommend">
        <div class="page-group">
            <div class="page">
                <header class="bar bar-nav row">
                    <div class="col-10">
                        <a href="../index.html">
                            <span class="icon icon-home"></span>
                        </a>
                    </div>
                    <div class="col-80">
                        <div class="searchbar">
                            <a class="searchbar-cancel">取消</a>
                            <div class="search-input">
                                <label class="icon icon-search" for="search"></label>
                                <input type="search" id='search' placeholder='搜索...' />
                            </div>
                        </div>
                    </div>
                    <div class="col-10">
                        <a href="cart.html">
                            <span class="icon icon-cart"></span>
                        </a>
                    </div>
                </header>
                <nav class="bar bar-tab">
                    <a class="tab-item external" href="../index.html">
                        <span class="icon icon-home"></span>
                        <span class="tab-label">首页</span>
                    </a>
                    <a class="tab-item external active" href="recommend.html">
                        <span class="icon icon-gift"></span>
                        <span class="tab-label">推荐</span>
                    </a>
                    <a class="tab-item external" href="cart.html">
                        <span class="icon icon-cart"></span>
                        <span class="tab-label">购物车</span>
                    </a>
                    <a class="tab-item external" href="account.html">
                        <span class="icon icon-me"></span>
                        <span class="tab-label">我的</span>
                    </a>
                </nav>
                <div class="content">
                    <ul class="u_imgs">
                        <li class="u_img">
                            <a href="#">
                                <img src="../asset/imgs/tj/tj_01.jpg" alt="" />
                            </a>
                        </li>
                        <li class="u_img">
                            <a href="#">
                                <img src="../asset/imgs/tj/tj_02.jpg" alt="" />
                            </a>
                        </li>
                        <li class="u_img">
                            <a href="#">
                                <img src="../asset/imgs/tj/tj_03.jpg" alt="" />
                            </a>
                        </li>
                        <li class="u_img">
                            <a href="#">
                                <img src="../asset/imgs/tj/tj_01.jpg" alt="" />
                            </a>
                        </li>
                    </ul>
                    <div class="content-block-title u_content-title">
                        <span>活动专场</span>
                    </div>
                    <div class="u_part u_rec_secondary">
                        <div class="row no-gutter">
                            <div class="col-50 u_rec_col">
                                <a href="#">
                                    <img src="../asset/imgs/tj/tj_08.jpg" alt="" />
                                </a>
                            </div>
                            <div class="col-50 u_rec_col">
                                <a href="#">
                                    <img src="../asset/imgs/tj/tj_09.jpg" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="row no-gutter">
                            <div class="col-50 u_rec_col">
                                <a href="#">
                                    <img src="../asset/imgs/tj/tj_10.jpg" alt="" />
                                </a>
                            </div>
                            <div class="col-50 u_rec_col">
                                <a href="#">
                                    <img src="../asset/imgs/tj/tj_08.jpg" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/frames/zepto.js"></script>
    <script>$.config = { router: false }</script>
    <script src="../js/frames/sm.min.js"></script>
    <script src="../js/frames/sm-extend.min.js"></script>
    <script src="../js/frames/util.js"></script>
    <script src="../js/frames/common.js"></script>
    <script>
        $.init();
    </script>

</body>
</html>