.WP-Account .list-block {
    margin: 0.5rem 0;
    font-size: 0.6rem;
    color: #808080;
}

.WP-Account .item-content {
    padding-left: 0.5rem;
}

.WP-Account .list-block .item-after {
    color: #808080;
}

.WP-Account .m_icon {
    width: 1.2rem;
    height: 1.2rem;
}

.WP-Account .u_account {
    position: relative;
}

.WP-Account .u_account-basic {
    position: relative;
    /*padding: 2.2rem 0 0 5rem;*/
    width: 100%;
    height: 8rem;
    background: rgba(178, 0, 255, 0.37) url(../../asset/imgs/account/personbg.png) no-repeat center center;
    background-size: cover;
    color: #fff;
    font-size: 0.6rem;
    line-height: 1.2;
    z-index: 2;
}

.WP-Account .u_account-basic .u_name {
       font-size: 1rem;
    font-weight: bold;
    text-align: center;
    /* padding-top: 1rem; */
    position: relative;
    height: 2rem;
}
.WP-Account .u_account-basic .u_name .u_setting {
    width: 1.5rem;
    height: 1.5rem;
    float: right;
    margin: .4rem;
    border-radius: 50%;
    position: absolute;
    right: 0;
}
.WP-Account .u_account-basic .u_name .u_name_per {
    height: 2rem;
    line-height: 2rem;
    width: 100%;
    text-align: center;
    /* float: left; */
    position: absolute;
}
.WP-Account .u_account-basic .u_text {
    text-align: center;
    margin-top: .3rem;
}
.WP-Account .u_account-basic .u_person {
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
    border-radius: 50%;
    clear: both;
    position: relative;
}

.WP-Account .u_account-more {
    padding: 0.35rem 0 0 5rem;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 2.6rem;
    /*line-height:2.8rem;*/
}
.m_part_h{
    height:3.5rem;
}
.WP-Account .u_account-more a {
    color: #808080;
    display: block;
    height: 100%;
    /*outline:1px solid;*/
    font-size: 0.6rem;
    box-sizing: border-box;
}

.WP-Account .u_account-more a span {
    display: block;
    /*margin-top:0.1rem;*/
    text-align: center;
}

.WP-Account .u_account-avatar {
    position: absolute;
    left: .5rem;
    top: 2.2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 0.3rem;
    overflow: hidden;
    z-index: 3;
}

.WP-Account .u_order-more {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 2.4rem;
}

.WP-Account .u_order-more a {
   color: #808080;
    display: block;
    height: 100%;
    font-size: 0.6rem;
    box-sizing: border-box;
    border-right: 1px solid #e6e6e6;
    width: 20%;
    margin-top: .5rem;
    padding-top: .5rem;
}
.WP-Account .u_order-more .s_shouh{
    border:none;
}
.WP-Account .u_order-more a span {
    display: block;
    text-align: center;
}

.quicklink {
    background-color: #fff;
    margin-top: .46rem;
}

.quicklink ul li {
    flex: initial;
    float: left;
    width: 25%
}

.quicklink ul li:nth-child(5n+1) {
    clear: left
}

.quicklink a {
    display: block;
    text-align: center;
    position: relative;
    padding: .4em .2em
}

.quicklink a i {
    display: inline-block;
    width: 3em;
    height: 3em
}

.quicklink a p {
    font-size: .8em;
    color:#808080;
    /*padding-top: .4545em;*/
    margin:0;
}
.u_user-header {
    opacity:0;
    filter:alpha(opacity=0);
    display: block;
    width: 3rem;
    height: 3rem;
    background-size:3rem 3rem;
    z-index:22;
    position:absolute;
}
