.WP-Home .u_part_category .card {
    margin: 0.5rem 0 0;
}

.WP-Home .u_category .u_categories {
    /*overflow: hidden;*/
    /*display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;*/
}

.WP-Home .u_category .u_item {
    width: 33.333333%;
    float: left;
    border-color: #e6e6e6;
    border-style: solid;
    border-width: 0 1px 1px 0;
}

.WP-Home .u_category .u_item:nth-child(3n) {
    border-right-width: 0;
}

.WP-Home .u_category .u_item a {
    display: block;
    color: #808080;
    font-size: 0.7rem;
    text-align: center;
}

.WP-Home .u_category .u_item img {
    width: 6rem;
    height: 6rem;
}

.WP-Home .u_category .u_item span {
    display: block;
    margin: 0 0 0.5rem;
}

.WP-Home .u_more-category .u_content-title {
    position: relative;
    margin-top: 0.75rem;
    text-align: center;
    font-size: 0.7rem;
}

.WP-Home .u_more-category .u_content-title span {
    display: inline-block;
    padding: 0.25rem 0;
    width: 5rem;
}

.WP-Home .u_more-category .u_content-title:before,
.WP-Home .u_more-category .u_content-title:after {
    content: '';
    position: absolute;
    top: 0.6rem;
    width: calc(50% - 2.5rem);
    border-top: 1px solid #d5caca;
}

.WP-Home .u_more-category .u_content-title:before {
    left: 0;
}

.WP-Home .u_more-category .u_content-title:after {
    right: 0;
}

.WP-Home .u_more-category .u_item {
    display: block;
    width: 100%;
    height: 8rem;
    border-color: #e6e6e6;
    border-style: solid;
    border-width: 1px 1px 0 0;
    text-align: center;
    overflow: hidden;
}

.WP-Home .u_more-category .u_item img {
    height: 6rem;
    max-width: 100%;
    max-height: 100%;
}

.WP-Home .u_more-category .u_sm_item {
    height: 5rem;
    position:relative
}

.WP-Home .u_more-category .u_sm_item img {
    height: 3rem;
}


.WP-Home .u_more-category .desc {
    display: block;
    max-width: 100%;
    padding: 0 10px;
    font-size: 0.8rem;
    color: #808080;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.WP-Home .u_filters-container .u_title {
    padding: 0 0.75rem;
    font-size: 0.8rem;
    color: #808080;
    background-color: #f6f4f4;
    height: 2rem;
    line-height: 2rem;
}

.WP-Home .u_filters-container .u_contents {
    /*padding:0 0.25rem 0 0.75rem;
    box-sizing:border-box;*/
}

.WP-Home .u_filters-container .u_block {
    margin-top: 0.5rem;
    font-size: 0.7rem;
    color: #051b28;
}

.WP-Home .u_filters-container .u_block .u_filters {
    overflow: hidden;
    margin-top: 0.5rem;
}

.WP-Home .u_filters-container .u_block .u_filter {
    float: left;
    margin: 0 3% 0.5rem 0;
    padding: 0.25rem 0.75rem;
    width: 22%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #f2f2f2;
    font-size: 0.6rem;
    border-radius: 0.15rem;
    border: 1px solid transparent;
    text-align: center;
}

.WP-Home .u_filters-container .u_block .u_filter:nth-child(4n) {
    margin-right: 0;
}

.WP-Home .u_filters-container .u_block .u_filter.u_select {
    background-color: #fff;
    border-color: #ff5000;
}

/*.WP-Home .u_filter-panel .u_btns {
    border-top: 1px solid #ddd;
}*/

.WP-Home .u_filter-panel .u_btn {
    color: #051b28;
}

.WP-Home .u_filter-panel .u_btn.u_btn-submit {
    border-color: #f6383a;
    background-color: #f6383a;
    color: #fff;
}

.WP-Home .u_popup-search .content-block {
    margin: 0.75rem 0;
}

.WP-Home .u_popup-search .content-block h6 {
    margin-bottom: 0.5rem;
}

.WP-Home .u_popup-search .u_search_items {
}

.WP-Home .u_popup-search .u_search_item {
    float: left;
    margin: 0 3% 0.3rem 0;
    width: 22%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 1.4rem;
    font-size: 0.6rem;
    background-color: #f2f2f2;
    border-radius: .15rem;
    text-align: center;
    line-height: 1.4rem;
}

.WP-Home .u_popup-search .u_search_item a {
    color: #6d6d72;
}

.WP-Home .u_popup-search .u_history{
    margin-top:0.5rem;
}

/*头部*/
.top-content{
    background:#fd6b2e;
    width:111%;
}
.top-search-text{
    float:left;
    margin-left: 1rem;
}
.logo{
    height: 2.2rem;
    width: 4rem;
    margin-left: .6rem;
    float:left;
}
.logo a{
    display:block;
    height: 2.2rem;
    width: 4rem;
}
.top-shop{
    float:right;
    height: 2.2rem;
    width:2rem;
   margin-right: 1rem;
}
.index-login-panel{
    right: -175% !important;
}
.panel-login-con{
    width: 2rem;
    height: 100%;
}
.panel-login-con li{
    margin-top: 1rem;
}
.in-close{
    color:#fd6b2e;
}
.top-shop a{
    display:block;
    height: 2.2rem;
    width:2rem;
    text-align: center;
    color:#fff;
}
.in-top-menu{
    font-size:1.3rem !important;
}
.search-label{
    right:0;
    position:relative;
}
.searchbar .top-button{
    position:absolute;
    right: 0.2rem;
    top: 0.6rem;
    color:#ccc;
    border:none;
}
.quicklink {
    background-color: #fff;
    margin-top: .46rem;
}

.quicklink ul li {
    flex: initial;
    float: left;
    width: 25%
}

.quicklink ul li:nth-child(5n+1) {
    clear: left
}

.quicklink a {
    display: block;
    text-align: center;
    position: relative;
    padding: .4em .2em
}

.quicklink a i {
    display: inline-block;
    width: 3em;
    height: 3em
}

.quicklink a p {
    font-size: .8em;
    color:#808080;
    padding-top: .4545em;
    margin:0;
}
.specialzone{
    height: 2.2rem;
    background:#fafafa;
    padding: 0 .5rem 0 .7rem;
}
.specialzone h3{
    width: 5rem;
    float:left;
    height:2.2rem;
    line-height:2.2rem;

}
.specialzone a{
    display:block;
    float:right;
    height:2.2rem;
    line-height:2.2rem;
}
.row .sp-jump{
    display:block;
    width:auto;
    height:auto;
}
.sp-title,.num-pin,.day-you{
    position:absolute;
}
.sp-title{
    position:absolute;
    font-size: 1rem;
    top: .3rem;
    left: 1rem;
    color:#fe7302;
}
.num-pin{
    position:absolute;
    top:.78rem;
    left:1rem;
    font-size:.8rem;
}

.specialzone-img-content div{
    float:left;
}
.specialzone-img-content .specialzone-img{
    float:left;
}
.d-num{
    display:block;
    text-align:left;
    padding-left:1rem;
}
.x-title{
    color:#fe7302;
    text-align:left;
    padding-left:1rem;
}
.x-title-qn{
    color:#fe7302;
    text-align:left;
    margin-top: 1rem;
    z-index:1;
    font-size:.5rem;
}
.xs-sm-im{
    width: 4rem;
    height: 100%;
    float: right;
    position: absolute;
    top: 1rem;
}
.xw-go-more{
    display:block;
    background:#3187fd;
    color:#fff;
    width:3rem;
    border-radius:3rem;
    margin-top: .5rem;
}
.re-xjn{
    position:relative;
    overflow:hidden;
}
.xj-cn-xw{
        background-color: red;
    transform: rotate(-50deg);
    top: .72rem;
    line-height: 1rem;
    text-align: center;
    left: -1.1rem;
    color: #fff;
    position: absolute;
    width: 4rem;
    height: 1rem;
    background: #29d3f7;
}
.ad-content {
    height: 2.2rem;
    background: red;
    text-align: center;
    line-height: 2.2rem;
    background: url('../../asset/imgs/product/ad-bg.jpg') center 2rem;
    color:#42b2f8;
    font-size: .7rem;
    font-weight: bold;
    border-top: 1px solid #e6e6e6;
    position:relative;
}
.w-dk{
    position: absolute;
    height: 0.05rem;
    width: 2rem;
    background: #63b5fa;
    top: 1rem;
    left: 3rem;
}
.w-dx{
    position: absolute;
    height: 0.05rem;
    width: 2rem;
    background: #63b5fa;
    top: 1rem;
    right: 3rem;
}
.q-zxd{
     height: 7rem;
     border:1px solid #e6e6e6;
}
.q-cjja{
    position:relative;
}
.q-jxd{
    position:relative;

}
.q-cdjx{
    font-size:.8rem;
    position:absolute;
    top:0.95rem;
    left:0.95rem;
    color:#000;
}
.q-xds{
    position: absolute;
    top: 1.8rem;
    left: 0.95rem;
    color: #ccc;
    font-size: .6rem;

}
.q-kxjd{
    position: absolute;
    top: 2.8rem;
    left: .95rem;
    background: #f8b70f;
    border-radius: 1rem;
    width: auto;
    text-align: center;
}
.q-jkd{
    display:block;
    position: absolute;
    top: 6rem;
    left: 1.6rem;
    background: #f91c05;
    color: #fff;
    width: 3rem;
    text-align:center;
    font-size:.6rem;
}
.q-hde{
    background:#0dccc7;
}
.w-djad{
    border:1px solid #e6e6e6;
    height: 6rem;
}
.w-cjs{
    position:relative;
    height: 6rem;
}
.w-jch{
    position: absolute;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
    color: #000;
    font-size: .7rem;
    text-align: center;
    height: 1rem;
}
.w-hgd{
        position: absolute;
        top: 1rem;
        font-size: .5rem;
        color: #a0a0a0;
        text-align:center;
        width:100%;
}
  .w-gds{
    background: #f91c05;
    position: absolute;
    display: block;
    bottom: 0;  
    color: #fff;
    left: 1rem; 
    left: .3rem;
    font-size: 0.6rem;
  }
  .h-cus{
      text-align:left;
      padding-left:1rem;
  }
  .d-ied{
      color:#fc3939;
  }
  .h-xd{
      background:#fa520c;
  }
  .q-ddcc{
      border-radius:0;
      background:#ef547e;
      color:#fff;
      text-align:center;
  }