.remarpad{
    margin:0;
    padding:0;
}
.pull-right .icon{
    font-size:.5rem;
}

.c-search-top{
    padding: .6rem 0;
    position:relative;
    margin-top: .68rem;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    height:1.4rem;
}
.c-search-button{
    position:absolute;
    right:0;
    border:none;
    margin:0 !important;
    padding: 0rem 1rem 0 1rem;
    text-align:center;
    top:0 !important;
    border-radius: 0 !important;
    background:#e6e6e6 !important;
}
.c-search-con-left{
    position:absolute;
    top:0 !important;
    left:0;
}
.c-search-inp{
    border: none !important;
    -webkit-appearance: none !important;
    width: 100%;
    border-radius: 0 !important;
}
.c-search-m{
    width:100%;
    background:#fff;
    overflow:hidden;
    position: relative;
    top: .2rem;
    height: 4rem;
}
.c-ser-ul{
    margin-top:.5rem;
}
.c-search-m ul li{
    float:left;
    padding:.1rem;
}
.c-search-m ul li a{
    display:inline-block;
    width:1rem;
    height:1rem;
   
    text-align:center;
    line-height:1rem;
}
.c-search-activty{
     background:#fd6b2e;
     color:#fff;
}
.c-pp-name,.c-pp-im{
    float:left;
}
.c-pp-cs{
    overflow:hidden;
}
.c-pp-im{
     /*width: 4rem;*/
    height:3rem;
}

.c-pp-name{
   height: 3rem;
   line-height:3rem;
   font-size:.6rem;
   text-align:center;
}
.c-pp-inner{
    background:#fff;
    border: 1px solid #e6e6e6;
}
.c-pp-con{
    width:100%;
    height: 16rem;
    z-index:2222;
    overflow:scroll;
    position: fixed;
}
.class-top-search-show{
    margin-right:0 !important;
}

/*地图样式*/
 html, body {
    margin: 0;
    padding: 0;
        }

.iw_poi_title {
    color: #CC5522;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding-right: 13px;
    white-space: nowrap;
}

.iw_poi_content {
    font: 12px arial,sans-serif;
    overflow: visible;
    padding-top: 4px;
    white-space: -moz-pre-wrap;
}