<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的账户</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!--<link rel="shortcut icon" href="/favicon.ico">-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="../css/frames/sm.min.css" rel="stylesheet" />
    <link href="../css/frames/sm-extend.min.css" rel="stylesheet" />
    <link href="../css/frames/common.css" rel="stylesheet" />
    <link href="../css/frames/icons.css" rel="stylesheet" />
    <link href="../css/views/myaccount.css" rel="stylesheet" />
</head>
<body>
    <div id="WP-Account" class="wrapper WP-AllOrder">
        <div class="page-group">
            <div class="page" id="detail">
                <header class="bar bar-nav">
                    <a class="button button-link button-nav pull-left">
                        <span class="icon icon-left"></span>
                        返回
                    </a>
                    <h1 class="title">待收货订单</h1>
                </header>
                <div class="content">
                    <div class="u_order-lists">
                        <div class="content-block u_content-block">
                            <div class="card m_card u_order-item">
                                <div class="card-header">
                                    <div class="pull-left">
                                        单号：
                                        <a href="#">DA-34-2016040519034</a>
                                    </div>
                                    <div class="pull-right">
                                        <span>待收货</span>
                                        <i class="m_icon icon-crash"></i>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="list-block media-list">
                                        <ul>
                                            <li>
                                                <a href="#" class="item-link item-content">
                                                    <div class="item-media"><img src="../asset/imgs/hj/hj.png" alt="" /></div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-text">逆变空气等离子切割机LGK-80/CUT80 工业型逆变空气等离子切割机LGK-80/CUT80 工业型逆变空气等离子切割机LGK-80/CUT80 工业型</div>
                                                            <div class="item-after">
                                                                <span class="u_price">
                                                                    <dfn>¥</dfn>
                                                                    <b>1298</b>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="item-footer item-sm-footer">
                                                            <div class="u_count">
                                                                共
                                                                <b>3</b>
                                                                <span>台</span>
                                                            </div>
                                                            <div class="u_total">
                                                                <span>
                                                                    合计：
                                                                    <dfn>¥</dfn>
                                                                    <b>1298</b>
                                                                </span>
                                                            </div>
                                                            <div class="u_discount">
                                                                <span>
                                                                    优惠：
                                                                    <dfn>¥</dfn>
                                                                    <b>580</b>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="u_total">
                                        <span>
                                            合计：
                                            <dfn>¥</dfn>
                                            <b>1298</b>
                                        </span>
                                    </div>
                                    <a href="#">确认收货</a>
                                </div>
                            </div>
                            <div class="card m_card u_order-item">
                                <div class="card-header">
                                    <div class="pull-left">
                                        单号：
                                        <a href="#">DA-34-2016040519034</a>
                                    </div>
                                    <div class="pull-right">
                                        <span>待收货</span>
                                        <i class="m_icon icon-crash"></i>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="list-block media-list">
                                        <ul>
                                            <li>
                                                <a href="#" class="item-link item-content">
                                                    <div class="item-media"><img src="../asset/imgs/hj/hj_02.png" alt="" /></div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-text">割咀/乙炔割嘴/乙炔割咀G02 05# 隆兴</div>
                                                            <div class="item-after">
                                                                <span class="u_price">
                                                                    <dfn>¥</dfn>
                                                                    <b>198</b>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="item-footer item-sm-footer">
                                                            <div class="u_count">
                                                                共
                                                                <b>3</b>
                                                                <span>个</span>
                                                            </div>
                                                            <div class="u_total">
                                                                <span>
                                                                    合计：
                                                                    <dfn>¥</dfn>
                                                                    <b>458</b>
                                                                </span>
                                                            </div>
                                                            <div class="u_discount">
                                                                <span>
                                                                    优惠：
                                                                    <dfn>¥</dfn>
                                                                    <b>103</b>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="u_total">
                                        <span>
                                            合计：
                                            <dfn>¥</dfn>
                                            <b>1298</b>
                                        </span>
                                    </div>
                                    <a href="#">确认收货</a>
                                </div>
                            </div>
                            <div class="card m_card u_order-item">
                                <div class="card-header">
                                    <div class="pull-left">
                                        单号：
                                        <a href="#">DA-34-2016040519034</a>
                                    </div>
                                    <div class="pull-right">
                                        <span>待收货</span>
                                        <i class="m_icon icon-crash"></i>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="list-block media-list">
                                        <ul>
                                            <li>
                                                <a href="#" class="item-link item-content">
                                                    <div class="item-media"><img src="../asset/imgs/hj/hj_03.jpg" alt="" /></div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-text">地线夹/接地夹/搭铁夹 500A</div>
                                                            <div class="item-after">
                                                                <span class="u_price">
                                                                    <dfn>¥</dfn>
                                                                    <b>198</b>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="item-footer item-sm-footer">
                                                            <div class="u_count">
                                                                共
                                                                <b>3</b>
                                                                <span>个</span>
                                                            </div>
                                                            <div class="u_total">
                                                                <span>
                                                                    合计：
                                                                    <dfn>¥</dfn>
                                                                    <b>458</b>
                                                                </span>
                                                            </div>
                                                            <div class="u_discount">
                                                                <span>
                                                                    优惠：
                                                                    <dfn>¥</dfn>
                                                                    <b>103</b>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="item-link item-content">
                                                    <div class="item-media"><img src="../asset/imgs/hj/hj_03.jpg" alt="" /></div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-text">地线夹/接地夹/搭铁夹 500A</div>
                                                            <div class="item-after">
                                                                <span class="u_price">
                                                                    <dfn>¥</dfn>
                                                                    <b>198</b>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="item-footer item-sm-footer">
                                                            <div class="u_count">
                                                                共
                                                                <b>3</b>
                                                                <span>个</span>
                                                            </div>
                                                            <div class="u_total">
                                                                <span>
                                                                    合计：
                                                                    <dfn>¥</dfn>
                                                                    <b>458</b>
                                                                </span>
                                                            </div>
                                                            <div class="u_discount">
                                                                <span>
                                                                    优惠：
                                                                    <dfn>¥</dfn>
                                                                    <b>103</b>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="item-link item-content">
                                                    <div class="item-media"><img src="../asset/imgs/hj/hj_03.jpg" alt="" /></div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-text">地线夹/接地夹/搭铁夹 500A</div>
                                                            <div class="item-after">
                                                                <span class="u_price">
                                                                    <dfn>¥</dfn>
                                                                    <b>198</b>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="item-footer item-sm-footer">
                                                            <div class="u_count">
                                                                共
                                                                <b>3</b>
                                                                <span>个</span>
                                                            </div>
                                                            <div class="u_total">
                                                                <span>
                                                                    合计：
                                                                    <dfn>¥</dfn>
                                                                    <b>458</b>
                                                                </span>
                                                            </div>
                                                            <div class="u_discount">
                                                                <span>
                                                                    优惠：
                                                                    <dfn>¥</dfn>
                                                                    <b>103</b>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="u_total">
                                        <span>
                                            合计：
                                            <dfn>¥</dfn>
                                            <b>1298</b>
                                        </span>
                                    </div>
                                    <a href="#">确认收货</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/frames/zepto.js"></script>
    <script>$.config = { router: false }</script>
    <script src="../js/frames/sm.min.js"></script>
    <script src="../js/frames/sm-extend.min.js"></script>
    <script src="../js/frames/util.js"></script>

    <script>
        $.init();
    </script>
</body>
</html>